.app {
  width: 99%;
  height: auto;
  text-align: center;
}

.custom-navbar-button {
  background-color: #4caf50; /* Green background */
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-navbar-button.active {
  background-color: #2e7d32; /* Darker green when active */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional shadow effect */
}
